<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>{{ cafe.name }}</h2>
    <p>Coffee price: {{ cafe.coffee_price }}</p>
    <p>Seats number: {{ cafe.seats }}</p>
    <p>Place: {{ cafe.location }}</p>
    <img src="{{ cafe.img_url }}">
    {% if cafe.has_sockets %}
        <p>Sockets: OK!</p>
    {% else %}
        <p>Sockets: No</p>
    {% endif %}
    {% if cafe.has_wifi %}
        <p>Wifi: OK!</p>
    {% else %}
        <p>Wifi: No</p>
    {% endif %}
    {% if cafe.can_take_calls %}
        <p>Can take calls</p>
    {% else %}
        <p>Can't take calls</p>
    {% endif %}
    {% if cafe.has_toilet %}
        <p>Has toilet</p>
    {% else %}
        <p>Hasn't toilet</p>
    {% endif %}
</body>
</html>